# Framework y Servidor
Flask
gunicorn

# Cliente de Ollama
ollama

# Modelos de IA y Audio
torch
torchaudio
TTS
psutil
requests

# Dependencias adicionales (si fueran necesarias)
# nltk # Lo mantenemos comentado por si en el futuro reactivas el chunking
